.b1{
    border: 2px solid red;
    width:280px;
    height:300px;
    margin: 1% 1%;
    background-color:rgba(199, 9, 9, 0.788);
    box-shadow: 10px 5px;
    
    

}
.b1 >img{
    width:100%;
    height:70%;
}
.b2 >span{
    background-color:rgb(224, 29, 29);
    color: wheat;
    margin-left: 50px;
    border-radius: 2px;
}
.b1 >p{
    margin: 0;
    color:wheat;
    text-align: center;
}
.container{
    display: flex;
    flex-direction:row;
    margin: 10px;
    background-color: rgb(196, 107, 107);
}
body{
    background-color:rgb(223, 7, 7);
}


